<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="Nlog.log">

  <targets async="true">
    <!--日志写数据库配置-->
    <target name="database" xsi:type="Database" >
      <!--连接配置-->
      <connectionString>server=127.0.0.1;Database=201907;user id=sa;password=123456</connectionString>
      <!--
      //日志数据库脚本文件
      SET ANSI_NULLS ON
      SET QUOTED_IDENTIFIER ON
      CREATE TABLE [dbo].[Log] (
	      [Id] [int] IDENTITY(1,1) NOT NULL,
	      [MachineName] [nvarchar](50) NOT NULL,
	      [Logged] [datetime] NOT NULL,
	      [Level] [nvarchar](50) NOT NULL,
	      [Message] [nvarchar](max) NOT NULL,
	      [Logger] [nvarchar](250) NULL,
	      [Callsite] [nvarchar](max) NULL,
	      [Exception] [nvarchar](max) NULL,
        CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
          WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
      ) ON [PRIMARY]
      -->
      <commandText>
        insert into dbo.Log (MachineName, Logged, Level, Message,Logger, Callsite, Exception)
        values (@MachineName, @Logged, @Level, @Message,@Logger, @Callsite, @Exception);
      </commandText>
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
    <!--日志写txt配置-->
    <!--
    <target  xsi:type="File" name="trace" fileName="${basedir}/logs/trace/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    <target  xsi:type="File" name="debug" fileName="${basedir}/logs/debug/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    <target  xsi:type="File" name="info" fileName="${basedir}/logs/info/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    <target  xsi:type="File" name="warn" fileName="${basedir}/logs/warn/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    <target  xsi:type="File" name="error" fileName="${basedir}/logs/error/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    <target  xsi:type="File" name="fatal" fileName="${basedir}/logs/fatal/${shortdate}.log"
             layout="时间：${longdate}${newline}等级：${level:uppercase=true}${newline}项目：${logger}${newline}内容：${message}${newline}" />
    -->
  </targets>
  <rules>
    <!--日志写数据库配置-->
    <logger name="*" writeTo="database"/>
    <!--日志写txt文件配置-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Warn" writeTo="warn" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Fatal" writeTo="fatal" />
    -->
  </rules>
</nlog>